.button {
    text-decoration: none !important;
    padding-left: 14px;
    padding-right: 14px;
    text-align: center;
}
html, body {
  height: 100%;
  margin: 20px;
}

body {
display: flex;
justify-content: center; /* horizontal centering */
align-items: center;     /* vertical centering */
}

.page {
width: 80%;
max-width: 600px;
padding: 20px;
}
