<div class="call">
  <div class="call-box-top">
    <table>
      {{ if .site.Data.contact.phone }}
      <tr>
        <th>
            Phone:
        </th>
        <td>
            &nbsp {{ .site.Data.contact.phone }}
        </td>
      </tr>
      {{ end }}
      {{ if .site.Data.contact.email }}
      <tr>
        <th>
          Email:
        </th>
        <td>
          &nbsp {{ .site.Data.contact.email }}
        </td>
      </tr>
      {{ end }}
      {{ if .site.Data.contact.location }}
      <tr>
        <th>
          Location: 
        </th>
        <td>
          &nbsp {{ .site.Data.contact.location }}
        </td>
      </tr>
      {{ end }}
    </table>
  </div>
    {{ if eq .show_button "true" }}
      <div class="call-box-bottom">
        <a href="mailto:kathleen_sammut@proton.me" class="button">Contact</a>
      </div>
    {{ end }}
</div>
